{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "react/jsx-no-bind": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-underscore-dangle": ["error", { "allow": ["^_"] }],
    "import/prefer-default-export": "off"
  },
  "env": { "browser": true },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "settings": {
    "import/resolver": {
      "eslint-import-resolver-custom-alias": {
        "alias": {
          "@": "./src",
          "@component": "./component",
          "@public": "./public"
        },
        "extensions": [".js", ".jsx"],
        "packages": ["packages/*"]
      }
    }
  }
}
