.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    /* margin-left: 100px; */
    font-size: 50px;
  }

  50% {
    /* margin-left: -100px; */
    font-size: 30px;
  }

  to {
    /* margin-left: 100px; */
    font-size: 50px;
  }
}
