@use "../../style/variables" as v;

.page {
  height: 100%;
  background-color: v.$purple;
  color: white;
}

.title {
  font-size: 112pt;
  margin-bottom: 60px;
}

.clipboard {
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
