.slide {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    from {
        margin-left: 100px;
    }

    50% {
        margin-left: -100px;
    }
  
    to {
        margin-left: 100px;
    }
  }